<div class="card-group">
  <div class="card">
    <img src="img/products/product1.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Vitting Lampu</h5>
      <p class="price-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, quis!
      </p>
      <p class="price">Rp. 100.000</p>
      <p class="price-desc">selama persediaan masih ada</p>
      <a href="#" class="btn btn-outline-primary">Detail</a>
    </div>
  </div>
  <div class="card">
    <img src="img/products/product1.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Vitting Lampu</h5>
      <p class="price-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, quis!
      </p>
      <p class="price">Rp. 100.000</p>
      <p class="price-desc">selama persediaan masih ada</p>
      <a href="#" class="btn btn-outline-primary">Detail</a>
    </div>
  </div>
  <div class="card">
    <img src="img/products/product1.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Vitting Lampu</h5>
      <p class="price-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, quis!
      </p>
      <p class="price">Rp. 100.000</p>
      <p class="price-desc">selama persediaan masih ada</p>
      <a href="#" class="btn btn-outline-primary">Detail</a>
    </div>
  </div>
  <div class="card">
    <img src="img/products/product1.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Vitting Lampu</h5>
      <p class="price-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, quis!
      </p>
      <p class="price">Rp. 100.000</p>
      <p class="price-desc">selama persediaan masih ada</p>
      <a href="#" class="btn btn-outline-primary">Detail</a>
    </div>
  </div>
</div>
